<% if user_signed_in? %>
<div class="searchContainer">
  <form class="form-control-sm searchBar">
  <%= search_form_for @q do |f| %>
    <%= f.label :producer_or_original_source_cont %>
    <%= f.search_field :producer_or_original_source_cont, class:'searchField'%>
    <%= f.submit class:'btn btn-sm btn-dark' %>
  <% end %>
  </form>
</div>
<br/>
<br/>
<br/>
<div style="height: 600px;overflow: scroll;" class ="table-responsive-sm mainTable">
  <table class="table table-sm table-striped table-bordered table-hover">
    <thead class='table-dark'>
      <tr>
        <th class='th-sm'>Producer</th>
        <th class='th-sm'>Original Source + Current Sample</th>
        <th class='th-sm'></th>
      </tr>
    </thead>
    <tbody>
    <% @friends.each do |friend| %>
      <% if friend.user == current_user %>
        <tr>
          <td>
            <%= friend.producer %>
          </td>
          <td style="height:20px; overflow:hidden">
            <%= link_to friend.original_source + ' / ' + friend.current_source, friend %>
          </td>

            <td><%= button_to "Delete", friend, form: { data: { turbo_confirm: "Are you sure?" } }, method: :delete, class:'btn btn-outline-danger btn-sm' %></td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
</div>

<%= link_to "New friend", new_friend_path, class: 'btn btn-secondary' %>

<% else %>
  <h1>Hello World!</h1>
  This is my first Rails Webpage...
<% end %>