<div class="jumbotron show">
  <h1 class="display-4">
    <%= @friend.first_name %>
    <%= @friend.last_name %>
  </h1>
  <iframe width="560" height="315" src="<%= @friend.phone %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <br/>
  <iframe width="560" height="315" src="<%= @friend.twitter %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <p class="lead"><%= @friend.phone %></p>
  <hr class="my-4">
  <p><%= @friend.twitter %></p>


<%= render @friend %>

<div class='btn-group'>
  <%= link_to "Edit this friend", edit_friend_path(@friend), class:'showButton btn btn-secondary' %>

  <%= button_to "Delete", @friend, form: { data: { turbo_confirm: "Are you sure?" } }, method: :delete, class:'showButton btn btn-outline-danger' %>

  <%= link_to "Back to friends", friends_path, class:'showButton btn btn-dark' %>
</div>
</div>