<%= form_with(model: dustloop) do |form| %>
  <% if dustloop.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(dustloop.errors.count, "error") %> prohibited this dustloop from being saved:</h2>

      <ul>
        <% dustloop.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <% form.label :producer, style: "display: block" %>
    <%= form.text_field :producer, class:"form-control", placeholder: "Producer" %>
  </div>

  <div class="field form-group">
    <% form.label :original_source, style: "display: block" %>
    <%= form.text_field :original_source, class:"form-control", placeholder: "Original Sample Source" %>
  </div>

  <div class="field form-group">
    <% form.label :current_source, style: "display: block" %>
    <%= form.text_field :current_source, class:"form-control", placeholder: "Current Sample Source" %>
  </div>

  <div class="field form-group">
    <% form.label :og_sample, style: "display: block" %>
    <%= form.text_field :og_sample, class:"form-control", placeholder: "Original Sample URL" %>
  </div>

  <div class="field form-group">
    <% form.label :current_sample, style: "display: block" %>
    <%= form.text_field :current_sample, class:"form-control", placeholder: "Current Sample URL" %>
  </div>

  <div class="field form-group">
    <% form.label :user_id, style: "display: block" %>
    <%= form.number_field :user_id, id: :dustloop_user_id, class:"form-control", value: current_user.id, type: :hidden %>
  </div>

  <br/>
    <%= form.submit 'submit to collection', class:"btn btn-dark" %>
  </div>
<% end %>
