<% if user_signed_in? %>
<div class="mainPage">
  <div class="searchContainer">
    <form class="form-control-sm searchBar">
    <%= search_form_for @q do |f| %>
      <%= f.label :producer_or_original_source_or_current_source_cont, 'Search by Producer, Year, & Title of Original/Current' %>:
      <%= f.search_field :producer_or_original_source_or_current_source_cont, class:'searchField', placeholder:'type in here'%>
      <%= f.submit class:'btn btn-sm btn-dark' %>
    <% end %>
    </form>
  </div> 
  <br/>
  <%= @dustloops.count %>
  /
  <%= Dustloop.count %>
  <%= paginate @dustloops %>
</svg>
  <div style="height: 450px;overflow: scroll;" class ="table-responsive-sm mainTable">
    <table class="table table-sm table-striped table-bordered table-hover table-dark">
      <thead>
        <tr class='table-row'>
          <th class='th-sm', style='text-align:center'><%= sort_link(@q, :producer)  %></th>
          <th class='th-sm', style='text-align:center'><%= sort_link(@q, :original_source, 'Original Sample + Current Usage') %></th>
          <th class='th-sm', style='text-align:center'><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
          <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
        </svg></th>
        </tr>
      </thead> 
      <tbody>
      <% @dustloops.each do |dustloop| %>
        <% if dustloop.user == current_user %>
          <tr>
            <td style='text-align:center'>
              <%= dustloop.producer %>
            </td>
            <td style="height:20px; overflow:hidden; text-align: center;">
              <%= link_to dustloop.original_source + ' + ' + dustloop.current_source, dustloop %>
            </td>
              <td style='text-align:center'><%= button_to "delete", dustloop, form: { data: { turbo_confirm: "Are you sure?" } }, method: :delete, class:'btn btn-danger btn-sm' %></td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
<br/>
<%= link_to raw("<i class=\"bi bi-plus-square-fill\" style='font-style:normal;'> add a dustloop</i>"), new_dustloop_path, class: 'newButton btn btn-dark' %>
<% else %>
  <div class='container main'>
    <h4>[Log In to See Your Collection]</h4>
  </div>
<% end %>